name: Latest Grafana API compatibility check

# This workflow is designed to be called from the repository root
# via .github/workflows/grafana-plugin-is-compatible.yml
on:
  workflow_call:

defaults:
  run:
    working-directory: src/grafana-plugin

jobs:
  compatibilitycheck:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        working-directory: .

      - name: Install mold linker
        run: |
          sudo apt-get update
          sudo apt-get install -y mold

      - name: Build plugin
        run: pnpm build

      - name: Find module.ts or module.tsx
        id: find-module-ts
        run: |
          MODULETS="$(find ./src -type f \( -name "module.ts" -o -name "module.tsx" \) | sed 's|^\./||')"
          echo "modulets=${MODULETS}" >> $GITHUB_OUTPUT

      - name: Compatibility check
        uses: grafana/plugin-actions/is-compatible@main # zizmor: ignore[unpinned-uses] provided by grafana
        with:
          module: src/grafana-plugin/${{ steps.find-module-ts.outputs.modulets }}
          comment-pr: 'no'
          fail-if-incompatible: 'yes'
